.header__wrapper {
    display: none;
}

.header__wrapper-mobile {
    background-color: $bg-color;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__wrapper-mobile p {
    margin-left: 15px;
    font-size: 12px;
}

.header__mini-social {
    margin-left: auto;
}